/* Reset Rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

ul, ol, menu {
    list-style-type: none;
}

/* Modifiers */
.marginleft--auto {
    margin-left: auto;
}

.button {
    text-decoration: none;
    padding: 12px;
    text-align: center;
}

.button--blue {
    color: white;
    background-color: #0061ff;
    display: block;
}

.button--white {
    color: black;
    border: 1px solid currentColor;
    display: inline-block;
}

.plan-card__specifics li + li {
    margin: 24px 0;
}

.plan-card__advantages li + li {
    margin: 24px 0;
}

.carousel__item--lightgreen {
    background-color: #d1e9cd;
}

.carousel__item--reddishpurple {
    background-color: #61082b;
}

.carousel__item--lightblue {
    background-color: #0093ce;
}

.carousel__item--lightred {
    background-color: #ff1c1c;
}

.carousel__item--darkred {
    background-color: #d5001f;
}

.carousel__item--greyishcyan {
    background-color: #b4d0e7;
}

.carousel__item--darkblue {
    background-color: #0d2481;
}

.carousel__item--yellow {
    background-color: #ffd830;
}


/* Main header */
.main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 99;
}

.header__logo-box {
    padding: 24px 0;
    flex-shrink: 0;
}

.header__logo {
    height: 32px;
    padding: 0 24px;
}

header a {
    text-decoration: none;
    color: currentColor;
    white-space: nowrap;
}

header nav {
    display: flex;
    align-items: center;
}

.header__link-box {
    padding: 0 24px;
}

.link-box__dropbox-info, .link-box__dropbox-contacts {
    display: flex;
    gap: 24px;
    align-items: center;
}

.link-box__dropbox-contacts li:nth-child(3) {
    margin-right: -12px;
}

main {
    padding-top: 88px;
}

.container-small {
    max-width: 1000px;
    margin: 0 auto;
}

.container-big {
    max-width: 1200px;
    margin: 0 auto;
}

.plan-card__container {
    padding: 16px 24px;
}

/* Inizio hero */
.hero {
    background-color: #b4d0e7;
    margin-bottom: 112px;
}

.hero__title {
    text-align: center;
    font-size: 72px;
    padding: 40px 0;
    font-weight: 800;
}

.hero__card {
    display: flex;
    position: relative;
    width: 100%;
}

.hero-card__description {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    aspect-ratio: 6/5;
}

.hero-card__button {
    align-self: flex-start;
}

.hero-card__arrow {
    align-items: flex-end;
}

.hero-card__image {
    position: absolute;
    width: 65%;
    right: 0;
    top: 0;
}

.hero-card__image img {
    width: 100%;
}

.hero-card__description i {
    font-size: 64px;
    margin-top: auto;
}

/* Inizio seconda sezione (business plans) */
.business-plan {
    display: flex;
}

.business-plan__card {
    border: 1px solid #DBDBDB;
    width: calc((100% - 64px) / 3);
    font-size: 14px;
}

.plan-card__head {
    min-height: 360px;
}

.business-plan__title {
    font-size: 24px;
    padding: 24px 0;
}

.billing-type {
    padding: 32px 0;
}

.billing-type label + input {
    margin-left: 48px;
}

.plan-card__target {
    border-bottom: 1px solid #DBDBDB;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    align-items: center;
}

.plan-row {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    flex-wrap: wrap;
}

.plan-card-header__title {
    font-weight: 400;
    font-size: 16px;
    padding-left: 8px;
}

.plan-card__title {
    font-size: 24px;
    padding: 16px 0;
}

.plan-card__price {
    font-weight: 700;
    padding: 8px 0;
}

.plan-card__duration {
    color: grey;
    padding-bottom: 32px;
}

.plan-card__specific {
    display: flex;
    align-items: baseline;
    gap: 8px;
}

.plan-card__buy-now {
    margin: 32px 0;
}

.plan-card__highlights:before {
    content:"";
    height: 2px;
    width: 48px;
    background-color: #DBDBDB;
    display: block;
    margin-bottom: 8px;
}

.plan-card__highlights h3 {
    margin: 32px 0;
}

.plan-card__advantage {
    display: flex;
    align-items: baseline;
    gap: 8px;
}

.plan-card__advantage i {
    color: #0061ff;
}

.plan-card__big {
    flex-basis: 100%;
    margin-bottom: 120px;
}

.plan-card-lg__description {
    flex-grow: 1;
}

.plan-card-lg__row {
    display: flex;
}

.plan-card-lg__button-box {
    width: calc(100% / 3);
}

/* Terza sezione (find a partner */
.find-partner__card {
    display: flex;
    gap: 40px;
    margin-bottom: 48px;
}

.find-partner__box-img {
    width: calc(100% /3 *2);
}

.find-partner__description {
    padding: 48px 0;
    width: calc(100% / 3);
}

.find-partner__box-img img {
    width: 100%;
}

.find-partner__title {
    margin-bottom: 24px;
    font-size: 32px;
}

.find-partner__text {
    margin-bottom: 40px;
}

/* Quarta sezione (dropbox more) */

.dropbox-more {
margin-bottom: 128px;
}

.d-more__title {
    font-size: 32px;
    padding: 48px 0;
}

.d-more-row {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.d-more__card {
    flex-basis: calc((100% - 48px) / 3);
}

.d-more-card__box-img, .d-more-card__title {
    margin-bottom: 24px;
}

.d-more-card__box-img img {
    width: 100%;
}

/* Quinta sezione (partners) */
.partners__title {
    margin-top: 48px;
    font-size: 32px;
}

.container-small h2 + h2 {
    margin-top: 0;
    margin-bottom: 48px;
}

.partners .container-small {
    margin-bottom: 128px;
}

.partners__static-carousel {
    display: flex;
}

.carousel__column {
    width: calc(100% / 3);
    display: flex;
    flex-wrap: wrap;
}

.carousel__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    aspect-ratio: 1;
}

.carousel__item svg {
    width: 100px;
    height: auto;
    fill: white;
}

.carousel-central {
    padding: 40px;
    background-color: #f5f5f5;
}

.carousel-central__blockquote {
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 24px;
}

.carousel-central__blockquote:before {
    content:"";
    height: 2px;
    width: 48px;
    background-color: #DBDBDB;
    display: block;
    margin-bottom: 8px;
}

.carousel-central q {
    font-size: 12px;
    font-weight: 300;
}

