/* Reset Rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

ul, ol, menu {
    list-style-type: none;
}

/* Modifiers */
.marginleft--auto {
    margin-left: auto;
}

.button {
    text-decoration: none;
    padding: 12px;
}

.button--blue {
    color: white;
    background-color: #0061ff;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 99;
}

.header__logo-box {
    padding: 24px 0;
}

.header__logo {
    height: 32px;
    padding: 0 24px;
}

header a {
    text-decoration: none;
    color: currentColor;
}

header nav {
    display: flex;
    align-items: center;
}

.header__link-box {
    padding: 0 24px;
}

.link-box__dropbox-info, .link-box__dropbox-contacts {
    display: flex;
    gap: 24px;
}

main {
    padding-top: 85px;
}

.container-small {
    max-width: 1000px;
    margin: 0 auto;
}

.container-big {
    max-width: 1200px;
    margin: 0 auto;
}

.hero {
    background-color: #b4d0e7;
}

.hero__title {
    text-align: center;
    font-size: 56px;
    padding: 40px 0;
    font-weight: 800;
}

.hero__card {
    display: flex;
    position: relative;
}

.hero-card__description {
    width: 33%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.hero-card__image {
    position: absolute;
    left: 40%;
    top: 0;
}

.hero-card__image img {
    width: 100%;
}

.hero-card__description i {
    display: inline-block;
    padding-top: 20px;
}